In [1]:
import json
import numpy as np
import nltk
import pandas as pd

from sklearn import datasets

# Data load

In [2]:
# Json data

with open('D:\\Visual_Storytelling_Challenge2018\\text\\stories\\train.story-in-sequence.json',"r") as data_file:
    raw_data = data_file.readlines() # type list, len 1
    # raw_data[0] type str, len 143752841
    json_data = json.loads(raw_data[0])  # the JSON object must be str, not 'list'
    print ("json_data len: ", len(json_data))
    print ("json_data type: ", type(json_data))
    print (json_data.keys())  # annotations = 연속되는 5 가지 사진에 대한 스토리 텍스트

json_data len:  5
json_data type:  <class 'dict'>
dict_keys(['images', 'info', 'albums', 'type', 'annotations'])

In [3]:
albums_list = json_data['albums']
print ("len: ", len(albums_list))
albums_list[0]

len:  8031

{'date_create': '1214980972',
 'date_update': '1432330952',
 'description': 'Believed to be the largest Moreton Bay Fig Tree in the united States',
 'farm': '4',
 'id': '72157605930515606',
 'owner': '12806074@N08',
 'photos': '13',
 'primary': '2626985925',
 'secret': '98149cd59b',
 'server': '3104',
 'title': 'Moreton Bay Fig 1877',
 'vist_label': '4th_of_july'}

In [4]:
image_list = json_data['images']
print ("len: ", len(image_list))
image_list[0]

len:  167528

{'album_id': '72157605930515606',
 'datetaken': '2008-06-30 07:33:43',
 'id': '2626977325',
 'latitude': '34.414760',
 'license': '5',
 'longitude': '-119.692879',
 'media': 'photo',
 'secret': 'bec0ff3596',
 'tags': 'santabarbara',
 'text': '',
 'title': 'Moreton Bay Fig 1877',
 'url_o': 'https://farm3.staticflickr.com/2078/2626977325_2b7696990c_o.jpg'}

In [5]:
# 원하는 정보
annotation_list = json_data['annotations']
print ("len: ", len(annotation_list))
annotation_list[0]

len:  200775

[{'album_id': '72157605930515606',
  'original_text': 'Our landmark tree in town was about to be destroyed and cleared for a new mall. ',
  'photo_flickr_id': '2627795780',
  'setting': 'first-2-pick-and-tell',
  'story_id': '30355',
  'storylet_id': '151775',
  'text': 'our landmark tree in town was about to be destroyed and cleared for a new mall .',
  'tier': 'story-in-sequence',
  'worker_arranged_photo_order': 0,
  'worker_id': 'SY6QQXJCXXMNCYP'}]

In [6]:
print("type: ", json_data['type'])
print("info: ", json_data['info'])

type:  story-in-sequence
info:  SIND v1.0

In [7]:
# df_story_train 만들기
column_list = ['worker_id', 'album_id', 'story_id', 'storylet_id', 'photo_flickr_id',
               'worker_arranged_photo_order', 'original_text', 'text']
total_row_list = []

for i in range(len(annotation_list)):
    row_list = []
    for column in column_list:
        row_list.append(annotation_list[i][0][column])
    
    total_row_list.append(row_list)
    
df_story_train = pd.DataFrame(total_row_list, columns = column_list)
print("df_story_train: ", df_story_train.shape)
df_story_train.head()

df_story_train:  (200775, 8)

,worker_id,album_id,story_id,storylet_id,photo_flickr_id,worker_arranged_photo_order,original_text,text
0,SY6QQXJCXXMNCYP,72157605930515606,30355,151775,2627795780,0,Our landmark tree in town was about to be dest...,our landmark tree in town was about to be dest...
1,SY6QQXJCXXMNCYP,72157605930515606,30355,151776,2626979987,1,So we decided to take the day to go out and en...,so we decided to take the day to go out and en...
2,SY6QQXJCXXMNCYP,72157605930515606,30355,151777,2626982337,2,"To see the final glimpse of the roots, extendi...","to see the final glimpse of the roots , extend..."
3,SY6QQXJCXXMNCYP,72157605930515606,30355,151778,2626983575,3,"And its magnificent trunk, larger than life it...","and its magnificent trunk , larger than life i..."
4,SY6QQXJCXXMNCYP,72157605930515606,30355,151779,2626985925,4,One last picture of its beauty so we could cap...,one last picture of its beauty so we could cap...

In [8]:
print("photo_flickr_id: ", len(df_story_train["photo_flickr_id"].unique()))
print("album_id: ", len(df_story_train["album_id"].unique()))
print("story_id: ", len(df_story_train["story_id"].unique()))
print("storylet_id: ", len(df_story_train["storylet_id"].unique()))

photo_flickr_id:  64934
album_id:  8031
story_id:  40155
storylet_id:  200775

In [9]:
# description data 불러오기
import pickle

with open('D:\\Visual_Storytelling_Challenge2018\\code\\test\\df_description.pickle', 'rb') as f:
    df_description_train = pickle.load(f)

print("df_description_train: ", df_description_train.shape)
df_description_train.head(10)

df_description_train:  (120465, 6)

,worker_id,album_id,photo_flickr_id,photo_order_in_story,original_text,text
0,BNCNALGFUMO75H3,72157605930515606,2701863545,0,Large tree with many outstretching branches an...,large tree with many outstretching branches an...
1,LLGWHRGGCUXGHCQ,72157605930515606,2626977325,1,A green sign is describing a historic tree and...,a green sign is describing a historic tree and...
2,NMDHPHI897FIBCX,72157605930515606,2627795780,2,A large tree with roots that look like crocodi...,a large tree with roots that look like crocodi...
3,K4PTO2GKQ6BUJDA,72157605930515606,2626983575,3,Big old tree being photographed on a sunny day,big old tree being photographed on a sunny day
4,4948BW6755GBL81,72157605930515606,2626982337,4,Huge brown tree roots rose above the ground.,huge brown tree roots rose above the ground .
5,N04A7HOMFBZR0MW,72157605930515606,2701863545,0,A large tree with many branches coming out,a large tree with many branches coming out
6,QKDKWV66QKOG7GH,72157605930515606,2626977325,1,A plaque describes an historical tree and advi...,a plaque describes an historical tree and advi...
7,0LAO894GS3KUDK2,72157605930515606,2627795780,2,A tree has spread its roots high and wide acro...,a tree has spread its roots high and wide acro...
8,S8235PXB9Z3JZYL,72157605930515606,2626983575,3,A old curvy tree in the sun light .,a old curvy tree in the sun light .
9,N13ZJSXRVKEV0MD,72157605930515606,2626982337,4,Some trees that are surrounded by apartment bu...,some trees that are surrounded by apartment bu...

In [10]:
print("photo_flickr_id: ", len(df_description_train["photo_flickr_id"].unique()))
print("album_id: ", len(df_description_train["album_id"].unique()))
print("worker_id: ", len(df_description_train["worker_id"].unique()))
print("photo_order_in_story: ", len(df_description_train["photo_order_in_story"].unique()))

photo_flickr_id:  40155
album_id:  8031
worker_id:  2176
photo_order_in_story:  5

In [11]:
# Story album_id와 Desc album_id 비교

unique_story_album_id = df_story_train["album_id"].unique()
unique_desc_album_id = df_description_train["album_id"].unique()

np.array_equal(unique_story_album_id, unique_desc_album_id)

True

#  Description 3개, Story 5개 (original_text 사용)

<br> Album 8,031개 X Desc 3개  X 설명 5개 = 120,465개
<br> Album 8,031개 X Story 5개 X 설명 5개 = 200,775개
<br> Album 8,031개 X Desc 3개  X Story 5개 X 설명 5개 = 602,325개

In [12]:
"""
    album 기준으로 잡고
    Desc 3개 / Story 5개
    D1 - S1, S2, S3, S4, S5 // 5 : 5, 5, 5, 5, 5 = 5 * 5
    D2 - S1, S2, S3, S4, S5 // 5 : 5, 5, 5, 5, 5 = 5 * 5
    D3 - S1, S2, S3, S4, S5 // 5 : 5, 5, 5, 5, 5 = 5 * 5
    으로 Dataframe 생성 // album 하나에 75개 생성
"""
total_text_list = []
desc_length = 3
story_length = 5

for idx, album_id in enumerate(unique_story_album_id):
    # print("idx: ", idx, end = "\r")
    current_desc = df_description_train[df_description_train["album_id"] == album_id]
    current_story = df_story_train[df_story_train["album_id"] == album_id]
    
    # Desc를 기준으로
    for desc_idx in range(desc_length):
        desc_text_list = current_desc.iloc[desc_idx * 5 : desc_idx * 5 + 5]["original_text"].values
        for story_idx in range(story_length):
            story_text_list = current_story.iloc[story_idx * 5 : story_idx * 5 + 5]["original_text"].values
            for zip_idx, (desc, story) in enumerate(zip(desc_text_list, story_text_list)):
                total_text_list.append([album_id, zip_idx, desc, story])
                
desc_story_data_df = pd.DataFrame(total_text_list, columns = ["album_id", "seq_num", "desc", "story"])
desc_story_data_df.head(10)

,album_id,seq_num,desc,story
0,72157605930515606,0,Large tree with many outstretching branches an...,Our landmark tree in town was about to be dest...
1,72157605930515606,1,A green sign is describing a historic tree and...,So we decided to take the day to go out and en...
2,72157605930515606,2,A large tree with roots that look like crocodi...,"To see the final glimpse of the roots, extendi..."
3,72157605930515606,3,Big old tree being photographed on a sunny day,"And its magnificent trunk, larger than life it..."
4,72157605930515606,4,Huge brown tree roots rose above the ground.,One last picture of its beauty so we could cap...
5,72157605930515606,0,Large tree with many outstretching branches an...,We found this tree when we were walking in a n...
6,72157605930515606,1,A green sign is describing a historic tree and...,It turns out it is a popular attraction here.
7,72157605930515606,2,A large tree with roots that look like crocodi...,"The tree is very unusual, with its roots exposed."
8,72157605930515606,3,Big old tree being photographed on a sunny day,"The trunk was really wide, as much as 12 feet!"
9,72157605930515606,4,Huge brown tree roots rose above the ground.,You can see how big these roots are - pretty a...

In [21]:
# desc_story_data_df.to_pickle("..\\..\\data\\desc_story_data_df.pkl")